SITE_URL=https://example.com
PUBLIC_TINA_CLIENT_ID=*** #Grab from TinaCloud app.tina.io
TINA_TOKEN=*** #Grab from TinaCloud app.tina.io
ORCID_CLIENT_ID=*** #ORCID Public API application client ID
ORCID_CLIENT_SECRET=*** #ORCID Public API application client secret
